*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
body{
    max-width: 1440px;
    background-color: hsl(30, 38%, 92%);
}


.main-container{
    margin: 200px;
    height: 400px;
    width: 600px;
    border-radius: 40px;
    flex-wrap: wrap;
    border-radius: 20px;
}
.main-container section{
    display: flex;
    border-radius: 20px;
    border: 2px solid blue;
}
.main-container img{
    width: 50%;
}

.container-text{
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    height: auto;
    flex-wrap: wrap;
}
.container-text h1{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    padding: 10px;
}
.container-text h2{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}
.container-text h4{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
   color:  hsl(228, 12%, 48%);
   padding: 10px;
}
.container-text p{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}






.price-cart{
    flex-direction: row;
}
.price-cart h1{
 color: hsl(158, 36%, 37%);

}
.price-cart p{
    text-decoration:line-through;
}
.price-cart button{
    border: none;
    padding: 10px 40px;
    border-radius: 8px;
    background-color:  hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
}
.price-discount{
   flex-direction: row;
}